:root {
  --accent: #f4bb78;
  --accent2: #fddbb233;
  --background: #fff;
  --text: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #1d1d1d;
}

header {
  padding: 12px 48px;
  border-bottom: 2px solid #f4bb78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4bb78;
  overflow: hidden;
}

section h1 {
  font-size: 2.5rem;
  color: #1d1d1d;
  color: var(--accent);
  line-height: 100%;
  margin-bottom: 24px;
}

/* Hamburger knop */
#mobileMenuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  width: 100%;
}

#mobileNav {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #f4bb78;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

/* main {
  padding: 2rem 0;
} */

section h2 {
  font-size: 2rem;
  color: #1d1d1d;
  margin-bottom: 12px;
}
section h3 {
  font-size: 1.5rem;
  color: #1d1d1d;
  margin-bottom: 12px;
}

section p {
  font-size: 1rem;
  color: #1d1d1d;
  text-wrap: pretty;
}

.hero-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 700px;
  gap: 32px;
  align-items: center;
  padding: 120px 0;
}

.hero-image-container,
.hoe-image-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 25px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  background-color: black;
  padding-right: 12px;
  padding-bottom: 5px;
}

.hero-image-container img,
.hoe-image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
}

strong {
  display: block;
  margin-top: 12px;
}

.manieren-talent-sourcen li {
  list-style: none;
  position: relative;
}
.manieren-talent-sourcen h2 {
  margin-top: 40px;
}

.sourcing-maturity-curve {
  max-width: 1000px;
  margin: 0 auto;
}

.curve-image-container {
  margin: 40px;
  max-width: 600px;
  height: 400px;
  border-radius: 25px;
  border-bottom-right-radius: 8px;
  border: 2px solid #000;
  background-color: black;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.sourcing-maturity-curve img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
}

.floating-menu {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  border-radius: 8px;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.floating-menu.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.3s ease, visibility 1.3s ease, transform 1.3s ease;
}
.floating-menu.visible-white {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.3s ease, visibility 1.3s ease, transform 1.3s ease;
}

.floating-menu.visible-white a {
  color: #e98615;
  transition: all 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.floating-menu ul {
  flex-direction: column;
  gap: 0;
}
.floating-menu ul li {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

footer {
  text-align: center;
  padding: 2rem 0 1rem;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #eee;
  margin-top: 2rem;
}

@media (max-width: 1440px) {
  .floating-menu ul {
    width: 180px;
  }

  .floating-menu {
    left: 10px;
  }
}

@media (max-width: 1240px) {
  .floating-menu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #mobileMenuToggle {
    display: none;
  }

  #mainNav {
    max-height: none;
    overflow: visible;
  }

  nav ul {
    flex-direction: row;
  }
}

/* main styles */
section {
  padding: 120px 0;
}

.section-container-med {
  max-width: 800px;
}
.section-container-large {
  max-width: 1200px;
}

.section-container-large,
.section-container-med {
  z-index: 2;
  margin: 0px auto;
}

.color-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 218, 187, 0.5) 100%);
}

.background-orange {
  background-color: var(--accent2);
}

.background-white {
  position: relative;
  background: var(--background);
  z-index: 2;
  padding: 20px;
}

.background-orange p,
.background-orange h3,
.background-orange h2 {
  color: #1d1d1d;
}

.intro-section {
  position: relative;
  overflow: hidden;
}

.intro-section::after,
.manieren-talent-sourcen::after,
.manieren-talent-sourcen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--accent) 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}

.manieren-talent-sourcen {
  position: relative;
}

@media (max-width: 767px) {
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
  #mainNav {
    display: none;
  }

  #mobileNav{
    display: block;
    position: fixed;
    top: 68px;
    left: 0;
    background-color: #fff;
    width: 50%;
    height: calc(100svh - 70px);
    z-index: 1000;
    padding: 24px;
    transform: translateX(-100%);
  }

  header {
    padding: 12px 24px;
  }
  section {
    padding: 40px 24px;
  }

  section h1 {
    font-size: 2rem;
  }
  section h2 {
    font-size: 1.5rem;
    line-height: 100%;
  }
  section h3 {
    font-size: 1.3rem;
    line-height: 100%;
  }

  .background-white {
    padding: 0;
  }

  #mobileMenuToggle {
    display: block;
  }

  img.logo {
    width: 50px;
  }

  .hero-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    align-items: center;
    padding: 0 24px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .hero-section {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: center;
  }

  .color-container {
    padding: 60px 0 80px;
  }

  .curve-image-container {
    margin: 24px 0;
    height: auto;
    padding-bottom: 0;
  }
}
