/* main styles (Terug kerende classes)*/
section {
  padding: 120px 0;
}

.section-container-med {
  max-width: 800px;
}
.section-container-large {
  max-width: 1200px;
}

.section-container-large,
.section-container-med {
  z-index: 2;
  margin: 0px auto;
}

.hero-image-container,
.hoe-image-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 25px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  border: 2px solid #1d1d1d;
  background-color: #1d1d1d;
  padding-right: 12px;
  padding-bottom: 5px;
}

.hero-image-container img,
.hoe-image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
}

.hero-text {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

strong {
  display: block;
  margin-top: 12px;
}

.color-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 218, 187, 0.5) 100%);
}

.background-orange {
  background-color: var(--orange-secondary);
}

.background-white {
  position: relative;
  background: var(--background-white);
  z-index: 2;
}

.background-orange p,
.background-orange h3,
.background-orange h2 {
  color: var(--black);
}

.intro-section {
  position: relative;
  overflow: hidden;
}

.intro-section::after,
.manieren-talent-sourcen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--orange-prime) 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  section {
    padding: 40px 24px;
  }
}
