:root {
  /* kleuren */
  --orange-prime: #f4bb78;
  --orange-secondary: #fddbb233;
  --orange-tertiary: #e98615;
  --background-white: #fff;
  --white: #fff;
  --grey: #555;
  --black: #1d1d1d;

  /* fonts */
  --Heading-one: 2.5rem;
  --Heading-two: 2rem;
  --Heading-three: 1.5rem;
  --Heading-four: 1.2rem;
  --Mobile-Heading-one: 2rem;
  --Mobile-Heading-two: 1.5rem;
  --Mobile-Heading-three: 1.3rem;
  --Mobile-Heading-four: 1rem;
  --paragraph: 1rem;
  --Mobile-paragraph: 1rem;

  /* line heights */
  --lineheight-h1: 100%;
  --lineheight-h2: 100%;
  --lineheight-h3: 105%;
  --lineheight-h4: 110%;
  --lineheight-p: 1.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  background-color: var(--background-white);
  color: var(--black);
}

header {
  padding: 12px 48px;
  border-bottom: 2px solid #f4bb78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange-prime);
  overflow: hidden;
}

h1 {
  color: var(--orange-prime);
  font-size: var(--Heading-one);
  line-height: var(--lineheight-h1);
  margin-bottom: 24px;
}

h2 {
  font-size: var(--Heading-two);
  color: var(--black);
  margin-bottom: 12px;
}
h3 {
  font-size: var(--Heading-three);
  color: var(--black);
  margin-bottom: 12px;
}

p {
  font-size: var(--paragraph);
  color: var(--black);
  line-height: 26px;
}

h1,
h2,
h3,
h4,
p {
  text-wrap: pretty;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

/* Hamburger knop */
#mobileMenuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#mobileNav {
  display: none;
}

.hero-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 700px;
  gap: 32px;
  align-items: center;
  padding: 120px 0;
}

.manieren-talent-sourcen {
  position: relative;
}

.manieren-talent-sourcen li {
  list-style: none;
  position: relative;
}
.manieren-talent-sourcen h2 {
  margin-top: 40px;
}

.sourcing-maturity-curve {
  max-width: 1000px;
  margin: 0 auto;
}

.curve-image-container {
  margin: 40px;
  max-width: 600px;
  height: 400px;
  border-radius: 25px;
  border-bottom-right-radius: 8px;
  border: 2px solid #1d1d1d;
  background-color: #1d1d1d;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.sourcing-maturity-curve img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
}

.floating-menu {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  border-radius: 8px;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.floating-menu.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.3s ease, visibility 1.3s ease, transform 1.3s ease;
}
.floating-menu.visible-white {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.3s ease, visibility 1.3s ease, transform 1.3s ease;
}

.floating-menu.visible-white a {
  color: var(--orange-tertiary);
  transition: all 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.floating-menu ul {
  flex-direction: column;
  gap: 0;
}
.floating-menu ul li {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

footer {
  text-align: center;
  padding: 2rem 0 1rem;
  font-size: var(--paragraph);
  color: var(--grey);
  border-top: 1px solid #eee;
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 1440px) {
  .floating-menu ul {
    width: 180px;
  }

  .floating-menu {
    left: 10px;
  }
}

.sourcing-maturity-curve .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.sourcing-maturity-curve .card h3 {
  font-size: var(--Heading-three);
  color: var(--orange-prime);
  margin-bottom: 12px;
}

.sourcing-maturity-curve .card a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: 700;
  padding: 10px 20px;
  position: relative;
  transition: all 0.2s ease;
  background-color: var(--orange-tertiary);
  margin-top: 24px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 6px 0 #1d2a42;
  font-family: 'Cera Round Pro DEMO', sans-serif;
  display: flex;
  align-items: center;
}

.sourcing-maturity-curve .card a img {
  width: 15px;
  color: var(--white);
}

.sourcing-maturity-curve .card a:active {
  transform: translateY(3px);
  box-shadow: 0 3px 0 #1d2a42;
}

@media (max-width: 1240px) {
  .floating-menu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #mobileMenuToggle {
    display: none;
  }

  #mainNav {
    max-height: none;
    overflow: visible;
  }

  nav ul {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    height: 70px;
  }
  #mainNav {
    display: none;
  }

  #mobileNav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-white);
    width: 50%;
    height: 100vh;
    z-index: 1000;
    padding: 24px;
    transform: translateX(-100%);
  }
  #mobileNav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #mobileNav a {
    color: var(--orange-prime);
  }

  header {
    padding: 12px 24px;
  }

  h1 {
    font-size: var(--Mobile-Heading-one);
    margin-bottom: 12px;
  }
  h2 {
    font-size: var(--Mobile-Heading-two);
    line-height: var(--lineheight-h2);
  }
  h3 {
    font-size: var(--Mobile-Heading-three);
    line-height: var(--lineheight-h3);
  }

  p {
    font-size: var(--Mobile-paragraph);
    line-height: var(--lineheight-p);
  }

  .background-white {
    padding: 0;
  }

  #mobileMenuToggle {
    display: block;
  }

  img.logo {
    width: 50px;
    height: auto;
  }

  .hero-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    align-items: center;
    padding: 0 24px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .hero-section {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: center;
  }

  .color-container {
    padding: 60px 0 80px;
  }

  .curve-image-container {
    margin: 24px 0;
    height: auto;
    padding-bottom: 0;
  }

  footer {
    text-align: center;
    padding: 2rem 0 3rem;
    font-size: var(--paragraph);
    color: var(--grey);
    border-top: 1px solid #eee;
    margin-top: 2rem;
  }
}
